* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus :active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}
input,
button,
textarea {
  font-family: inherit;
}
input:-ms-clear {
  display: none;
}
button:-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
a a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
hr {
  background-color: #ccc;
  height: 1px;
}
textarea {
  resize: vertical;
}
button {
  background-color: transparent;
  font-size: 16px;
}
/* Styles */
[class*="container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

/* titles */
.title {
  font-size: 18px;
  font-weight: 700;
}
.sub-title {
  font-size: 14px;
  font-weight: 700;
}
/* titles */

/* form */
.form__body {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10%);
}
.form {
  padding: 15px;
  min-width: 250px;
  min-height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.input-field input,
textarea {
  margin: 5px 0 0 0;
  padding: 0 0 0 5px;
  min-width: 250px;
  min-height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.input-field input,
textarea:focus {
  border: 1px solid #7c7c7c;
}
.input-field p,
.redirect {
  color: #106ba3;
  font-size: 12px;
}
.submit-btn {
  min-width: 250px;
  width: 100%;
  min-height: 25px;
  background-color: #106ba3;
  border-radius: 4px;
  color: #fff;

  transition: 0.3s all;
}
.submit-btn a {
  color: #fff;
  text-decoration: none;
}
.submit-btn:hover {
  background-color: #1c7ebb;
}

.redirect__link {
  cursor: pointer;
}
.redirect__link:hover {
  text-decoration: underline;
}
/* form */

/* statements */
.column {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 15px 0;
  max-width: 500px;
}
.item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
/* statements */

.resolve,
.reject {
  background-color: #10b981;
  min-width: 150px;
  height: 25px;
  color: #fff;
  border-radius: 4px;
  transition: 0.3s all;
}
.resolve:hover,
.reject:hover {
  text-decoration: none;
}
.resolve:hover {
  background-color: #34dca4;
}
.reject {
  background-color: #e11d48;
}
.reject:hover {
  background-color: #a7082b;
}
